# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
/staticfiles/
/static/CACHE/

# Служебные папки проекта
/media/
/logs/
/staticfiles/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Файлы окружения (секретные данные)
example.env
.env.local
.env.production

# Миграции (опционально - если хотите хранить миграции в репозитории, уберите эту строку)
# */migrations/*.py
# !*/migrations/__init__.py

# Файлы отчета
*.docx
*.pdf
!requirements.txt

# Docker
.dockerignore